@import "bootstrap";

$backgroundColorSlideBeforeAfter: #2F2F2F;
$textColorSlideBeforeAfter: #FFFFFF;

@mixin slides($color, $h2Colors, $h4Colors) {
  @extend .slide;
  color: $color;
  h2 {
    color: $h2Colors;
  }
  h4 {
    color: $h4Colors;
  }
}

body {
  font-weight: bold;
}

.slides {
  .slide:not(:last-child) {
    border-bottom: 1px solid $backgroundColorSlideBeforeAfter;

    .inter-slide:not(:last-child) {
      border-bottom: 1px dotted $backgroundColorSlideBeforeAfter;
    }
  }
}

.menu {
  background-color: $backgroundColorSlideBeforeAfter;
  color: $textColorSlideBeforeAfter;
}

.slide0 {
  background-color: $backgroundColorSlideBeforeAfter;
  color: $textColorSlideBeforeAfter;
}

.reactis {
  @include slides(#2F2F2F, #486ABA, #486ABA);
}

.st {
  @include slides(#8a8683, #0A7EFC, #0A7EFC);
}

.icosoft {
  @include slides(#2B343D, #4CBADD, #4CBADD);
}

.neodoc {
  @include slides(#65646A, #F4901D, #F4901D);
}

.slideAutre {
  background-color: $backgroundColorSlideBeforeAfter;
}